body{
    text-align: center;
    font-family: sans-serif;
    margin: 0px;
}

header h1{
    display:inline-block;
    margin-right: 10px;
}

#logo{
    width:50px;
    height:50px;
    position: fixed;
    top:25px;
}
header{
    text-align: center;
}

#navBar {
    margin-bottom: 60px;
    margin-top: 15px;
}

#navBar a{
    width: 33%;
    display: inline-block;
    margin: -3px;
    padding-top:10px;
    padding-bottom: 10px;
    text-decoration: none;
    border: 1px solid black;
}

#navBar a.current{
    background-color: cornflowerblue;
}

.offers{
    border: 1px solid black;
    border-collapse: collapse;
    margin:auto;
}

.offers td{
    border: 1px solid black;
    padding: 10px;
}

main{

}
